.main {
    width: 100%;
    padding: 24px 20px;
    box-sizing: border-box;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo {
    margin-bottom: 48px;
}

.exit {
    margin-top: auto !important;
    background-color: transparent !important;
    color: black !important;
    font-size: 16px !important;
    text-transform: initial !important;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Milky Nice', sans-serif !important;
    width: fit-content;
}

